<h1>Welcome to Fill in the blank</h1>
<h2>The Marketplace for Muralist and blank wall owners</h2>
<p>We are still building the website as a part for Seattle Start Up weekend B2B, but if you are an artist you can sign up <%= link_to "here", new_artist_path %></p>
