<h1>Welcome to Graph My Wall</h1>
<h2>The Marketplace for street artist and Open minded Bussiness</h2>
<p>We are still building the website as a part for Seattle Start Up weekend B2B, but if you are an artist you can sign up <%= link_to "here", new_artist_path %></p>
