<div class = "signin-options row">
	<div class = "artist-signin col-xs-6 col-md-6">
		<h2>Are you an artist?</h2>
		<%= link_to "Sign in Here", new_artist_session_path, class: "btn btn-success" %>
	</div>
	<div class = "owner-signin col-xs-6 col-md-6">
		<h2>Do you own a business and want to support art?</h2>
		<%= link_to "Sign in Here", new_owner_session_path, class: "btn btn-primary" %>
	</div>
</div>